@model MapProject.Model.Map
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RenderMap</title>
</head>
<body>
    <svg height="5000px" width="5000px">
        @{

            foreach (var region in Model.Regions)
            {

                <g>


                    @{

                        string points = String.Empty;
                    }

                    @for (int i = 0; i < region.Points.Count; i++)
                    {

                        var point = region.Points[i];

                        points += point.X + "," + point.Y + " ";

                        @*

                            if (i % 2 == 0)
                            {

                                if (point.IsBorder)
                                {
                                <circle cx="@point.X" cy="@point.Y" r="1" />
                                }
                            }*@
                        @*else
                            {
                                <circle cx="@point.X" cy="@point.Y" r="1" color="red" />
                            }*@


                    }

                    @*@foreach (var point in region.Points.Where(x => x.IsBorder))
                        {


                            <circle cx="@point.X" cy="@point.Y" r="1" />
                            //points += point.X + " " + point.Y + ",";
                        }
                        <polygon points="@points.Remove(points.Length - 1)" />*@

                    <polyline id="@region.Id" points="@points.Remove(points.Length - 1)" fill="white" stroke="black" onclick="regionOnClickHandler(this.id)" />

                </g>
            }


        }
    </svg>

    <script>
        function regionOnClickHandler(clicked_id)
        {
            //window.alert("I am region " + clicked_id);  

            var element = document.getElementById(clicked_id);

            if (element.getAttribute("fill") == "white") {

                element.setAttribute("fill", "red");

                return;
            }

            if (element.getAttribute("fill") == "red") {

                element.setAttribute("fill", "green");

                return;
            }

            if (element.getAttribute("fill") == "green") {

                element.setAttribute("fill", "white");

                return;
            }

            //element.setAttribute("fill", "red");
        }
    </script>

</body>
</html>
