@model MapProject.Web.Models.RenderMapModel


@{
    ViewBag.Title = "MapProject - " + Model.Map.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@{
    string currentDataSet = Model.DataSet == null ? "Data set is not loaded" : Model.DataSet.Key;
    bool dataSetNull = this.Model.DataSet == null;
    string dataSetId = Model.DataSet == null ? String.Empty : Model.DataSet.Key;


    int maxX = Model.Map.Regions.Max(x => x.Points.Max(y => y.X));
    int maxY = Model.Map.Regions.Max(x => x.Points.Max(y => y.Y));
}



<div class="container-fluid">



    <div class="row">

        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">


                <div>

                    <h5>Current map - @Model.Map.Name</h5>
                    <h5>Current dataset - @currentDataSet</h5>

                    <p></p>
                    <hr />


                    <h5>To continue, SELECT and LOAD existing dataset for map @Model.Map.Name</h5>


                    <form id="createNewDataSetForm" asp-controller="Map" asp-action="LoadDataSet" method="post">

                        <div class="form-group">

                            <select class="form-control" name="dataSetName">
                                @{
                                    foreach (var dataSet in Model.DataSetNames)
                                    {

                                        <option>@dataSet</option>
                                    }
                                }
                            </select>

                            <input class="form-control" type="text" name="mapName" value="@Model.Map.Name" hidden />

                        </div>

                        <button class="btn btn-primary" type="submit">Load Data Set</button>

                    </form>

                    <p></p>

                    <h5>or CREATE new dataset for map "@Model.Map.Name"</h5>

                    <form id="createNewDataSetForm" asp-controller="Map" asp-action="CreateDataSet" method="post">

                        <div class="form-group">

                            <input class="form-control" type="text" name="dataSetName" placeholder="Enter new data set name here" />
                            <input class="form-control" type="text" name="mapName" value="@Model.Map.Name" hidden />
                        </div>

                        <button class="btn btn-primary" type="submit">Create Data Set</button>

                    </form>



                    <div id="currentMapName" hidden>@Model.Map.Name</div>
                    <div id="currentDataSet" hidden>@dataSetId</div>
                    <div id="currentRegionId" hidden></div>
                    <div id="jsonDataSet" hidden>@Model.JsonDataSet</div>


                </div>

                <div>

                    <hr />

                    <h5 id="regionIdLavel">No region selected</h5>

                    <p></p>

                </div>

                <div>



                    <form hidden id="createNewPropertyForm" asp-controller="Map" asp-action="SaveProperty" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#regionProperties" method="post">

                        <h5>CREATE or UPDATE property</h5>

                        <div class="form-group">

                            <input class="form-control" type="text" name="propertyName" placeholder="Enter property name" />
                            <input class="form-control" type="text" name="propertyValue" placeholder="Enter property value" />
                            <input class="form-control" type="text" name="dataSetKey" value="@currentDataSet" hidden />
                            <input class="form-control" type="text" name="mapName" value="@Model.Map.Name" hidden />
                            <input class="form-control regionIdInput" type="text" name="regionId" hidden />
                        </div>

                        <button class="btn btn-primary" type="submit">Save Property</button>

                    </form>

                    <p></p>



                    <form hidden id="createNewStatisticForm" asp-controller="Map" asp-action="SaveStatistic" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#regionProperties" method="post">

                        <h5>CREATE or UPDATE statistic</h5>

                        <div class="form-group">

                            <input class="form-control" type="text" name="statisticName" />
                            <input class="form-control" type="number" value="0" step="0.1" name="statisticValue" />
                            <input class="form-control" type="text" name="dataSetKey" value="@currentDataSet" hidden />
                            <input class="form-control" type="text" name="mapName" value="@Model.Map.Name" hidden />
                            <input class="form-control regionIdInput" type="text" name="regionId" hidden />
                        </div>
                        <button class="btn btn-primary" type="submit">Save Statistic</button>

                    </form>

                    <p></p>

                    <div id="regionProperties">
                    </div>
                </div>

            </div>
        </nav>
    </div>


    <main class="main-rendermap">
        <div class="svg-ct">

            @*<svg height="300px" width="300px">*@

            <svg height="@maxY" width="@maxX">
                @{

                    foreach (var region in Model.Map.Regions)
                    {

                        <g>
                            @{

                                string points = String.Empty;
                            }

                            @for (int i = 0; i < region.Points.Count; i++)
                            {

                                var point = region.Points[i];

                                points += point.X + "," + point.Y + " ";
                            }

                            <polygon id="@region.Id" points="@points.Remove(points.Length - 1)" fill="white" stroke="black" onclick="regionOnClickHandler(this.id)" />

                        </g>
                    }


                }
            </svg>

        </div>
    </main>


</div>

<script src="~/js/mapProject.js"></script>



