@using MapProject.Web.Models
@using MapProject.Web.Components
@using MapProject.Web.Controllers
@model ManageRegionModel


<div>



    @{
        if (!String.IsNullOrEmpty(Model.RegionId))
        {

            string regionName = String.IsNullOrWhiteSpace(Model.RegionName) ? "[" + Model.RegionId + "]" : Model.RegionName + " [" + Model.RegionId + "]";

            
            <div class="alert alert-primary">Поточний регіон - <b>@regionName</b></div>

            if (String.IsNullOrEmpty(Model.DataSetName) || Model.DataItem == null)
            {
                <div class="alert alert-danger">Набір даних не заватажено. Будь ласка завантажте набір даних для перегляду інформації, пов'язаної з поточним регіоном</div>
            }
            else
            {

                <div id="regionsToCompare">

                    @await Component.InvokeAsync(CompareRegionsPaneViewComponent.Name, new CopmareRegionsPaneModel(MapContext.FirstRegionId, MapContext.SecondRegionId, Model))

                </div>

                if (Model.ReferencedMaps.Count() != 0)
                {

                    <div class="alert alert-primary">
                        Поточний регіон має пов’язані карти:

                        @foreach (var refMap in Model.ReferencedMaps)
                        {
                            <a href="/Map/RenderMap?mapName=@refMap" target="_blank">@refMap</a>

                        }
                    </div>

                }

                <form id="addToCompare" asp-controller="Map" asp-action="AddRegionToCompare" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#regionsToCompare" method="post">

                    <input class="form-control" type="text" name="dataSetName" value="@Model.DataSetName" hidden />
                    <input class="form-control" type="text" name="mapName" value="@Model.MapName" hidden />
                    <input class="form-control" type="text" name="regionToCompare" value="@Model.RegionId" hidden />

                    <button class="btn btn-sm btn-primary" type="submit">Додати до порівняння</button>

                    <a class="btn btn-sm btn-danger" href="/Map/CompareRegions?mapName=@Model.MapName&dataSetName=@Model.DataSetName" target="_blank">Порівняти</a>

                    <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Управління інформацією
                    </a>

                </form>





                <div class="collapse" id="collapseExample">

                    <hr />

                    <div class="row">
                        <div class="col-6">
                            <form id="createNewPropertyForm" asp-controller="Map" asp-action="SaveProperty" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#regionManagement" method="post">

                                <h5>Змінити чи встановити якість</h5>

                                <div class="form-group">

                                    <input class="form-control" type="text" name="propertyName" placeholder="Введіть назву якості" />
                                    <input class="form-control" type="text" name="propertyValue" placeholder="Введіть значення якості" />
                                    <input class="form-control" type="text" name="dataSetKey" value="@Model.DataSetName" hidden />
                                    <input class="form-control" type="text" name="mapName" value="@Model.MapName" hidden />
                                    <input class="form-control" type="text" name="regionId" value="@Model.RegionId" hidden />


                                    <button class="btn btn-sm btn-primary" type="submit">Зберігти</button>

                                </div>


                            </form>
                        </div>
                        <div class="col-6">
                            <form id="createNewStatisticForm" asp-controller="Map" asp-action="SaveStatistic" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#regionManagement" method="post">

                                <h5>Змінити чи встановити статистику</h5>

                                <div class="form-group">

                                    <input class="form-control" type="text" name="statisticName" placeholder="Введіть назву статистики" />
                                    <input class="form-control" type="number" value="0" step="0.001" name="statisticValue" placeholder="Введіть значення статистики" />
                                    <input class="form-control" type="text" name="dataSetKey" value="@Model.DataSetName" hidden />
                                    <input class="form-control" type="text" name="mapName" value="@Model.MapName" hidden />
                                    <input class="form-control" type="text" name="regionId" value="@Model.RegionId" hidden />

                                    <button class="btn btn-sm btn-primary" type="submit" data-toggle="tooltip" data-placement="top" title="Updates property value or creates new if does not exist">Зберігти</button>

                                </div>


                            </form>
                        </div>
                    </div>

                    <p></p>

                    <div class="row">

                        <div class="col-6">

                            <form id="deletePropertyForm" asp-controller="Map" asp-action="ManageDataProperty" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#regionManagement" method="post">

                                <h5>Управління якостями</h5>

                                <div class="form-group">

                                    <select class="form-control" name="dataPropertyName">
                                        @{
                                            foreach (var property in Model.DataItem.Properties)
                                            {

                                                <option>@property.Name</option>
                                            }
                                        }
                                    </select>

                                    <input class="form-control" type="text" name="dataSetName" value="@Model.DataSetName" hidden />
                                    <input class="form-control" type="text" name="mapName" value="@Model.MapName" hidden />
                                    <input class="form-control" type="text" name="regionId" value="@Model.RegionId" hidden />
                                    <input class="form-control" name="ifStatistic" value="false" hidden />

                                    <input style="margin-bottom:4px;" class="btn btn-sm btn-danger" type="submit" name="toDo" value="@Strings.DeleteActionString" />
                                    <input style="margin-bottom:4px;" class="btn btn-sm btn-danger" type="submit" name="toDo" value="@Strings.DeleteAllActionString" />
                                    <input style="margin-bottom:4px;" class="btn btn-sm btn-primary" type="submit" name="toDo" value="@Strings.ExpandActionString" />

                                </div>



                            </form>

                        </div>

                        <div class="col-6">
                            <form id="deletePropertyForm" asp-controller="Map" asp-action="ManageDataProperty" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#regionManagement" method="post">

                                <h5>Управління статистикою</h5>

                                <div class="form-group">

                                    <select class="form-control" name="dataPropertyName">
                                        @{
                                            foreach (var statistic in Model.DataItem.Statistics)
                                            {

                                                <option>@statistic.Name</option>
                                            }
                                        }
                                    </select>

                                    <input class="form-control" type="text" name="dataSetName" value="@Model.DataSetName" hidden />
                                    <input class="form-control" type="text" name="mapName" value="@Model.MapName" hidden />
                                    <input class="form-control" type="text" name="regionId" value="@Model.RegionId" hidden />
                                    <input class="form-control" name="ifStatistic" value="true" hidden />

                                    <input style="margin-bottom:4px;" class="btn btn-sm btn-danger" type="submit" name="toDo" value="@Strings.DeleteActionString" />
                                    <input style="margin-bottom:4px;" class="btn btn-sm btn-danger" type="submit" name="toDo" value="@Strings.DeleteAllActionString" />
                                    <input style="margin-bottom:4px;" class="btn btn-sm btn-primary" type="submit" name="toDo" value="@Strings.ExpandActionString" />

                                </div>



                            </form>
                        </div>

                    </div>

                    <p />

                    <div class="row">

                        <div class="col-6">
                            <form asp-controller="Map" asp-action="DeleteAttachment" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#regionManagement" method="post">

                                <h5>Видалити прикріплення</h5>

                                <div class="form-group">

                                    <select class="form-control" name="attachmentName">
                                        @{
                                            foreach (var statistic in Model.DataItem.Attachments)
                                            {

                                                <option>@statistic.Name</option>
                                            }
                                        }
                                    </select>

                                    <input class="form-control" type="text" name="dataSetName" value="@Model.DataSetName" hidden />
                                    <input class="form-control" type="text" name="mapName" value="@Model.MapName" hidden />
                                    <input class="form-control" type="text" name="regionId" value="@Model.RegionId" hidden />

                                    <button class="btn btn-sm btn-danger" type="submit">Видалити</button>

                                </div>



                            </form>
                        </div>

                        <div class="col-6">
                            <form asp-controller="Map" asp-action="AssignMap" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#regionManagement" method="post">

                                <h5>Пов'язати з картою</h5>

                                <div class="form-group">

                                    <select class="form-control" name="mapToAssignName">
                                        @{
                                            foreach (var map in Model.Maps)
                                            {

                                                <option>@map</option>
                                            }
                                        }
                                    </select>

                                    <input class="form-control" type="text" name="dataSetName" value="@Model.DataSetName" hidden />
                                    <input class="form-control" type="text" name="mapName" value="@Model.MapName" hidden />
                                    <input class="form-control" type="text" name="regionId" value="@Model.RegionId" hidden />

                                    <button class="btn btn-sm btn-primary" type="submit">Пові'язати</button>

                                </div>



                            </form>
                        </div>

                    </div>

                    <p />

                    <div class="row">

                        <div class="col-6">
                            <form asp-controller="Map" asp-action="AddAttachment" method="post" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#regionManagement" enctype="multipart/form-data">

                                <h5>Прикріпіти файл</h5>

                                <div class="form-group">

                                    <input class="form-control-file" type="file" name="attachmentFile" />
                                    <input class="form-control" type="text" name="dataSetName" value="@Model.DataSetName" hidden />
                                    <input class="form-control" type="text" name="mapName" value="@Model.MapName" hidden />
                                    <input class="form-control" type="text" name="regionId" value="@Model.RegionId" hidden />

                                    <button style="margin-top:8px;" class="btn btn-sm btn-primary" type="submit">Завантажити</button>
                                </div>

                            </form>
                        </div>

                    </div>

                    <p />

                    <div class="row">
                        <div class="col-12">
                            <form id="expanadPropertiesForm" asp-controller="Map" asp-action="ExpanadProperties" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#regionManagement" method="post">

                                <h5>Встановити усі якості та статистику на карті</h5>

                                <div class="form-group">
                                    <input class="form-control" type="text" name="dataSetName" value="@Model.DataSetName" hidden />
                                    <input class="form-control" type="text" name="mapName" value="@Model.MapName" hidden />
                                    <input class="form-control" type="text" name="regionId" value="@Model.RegionId" hidden />

                                    <button class="btn btn-primary btn-sm" id="expanadPropertiesFormSubmit" type="submit">Встановити</button>

                                </div>



                            </form>
                        </div>
                    </div>



                    <hr />

                </div>

                <p></p>


                @await Component.InvokeAsync(ManageRegionPropertiesViewComponent.Name, Model);

            }



        }
    }


</div>