@using MapProject.Web.Models
@using MapProject.Web.Components
@using MapProject.Web.Controllers
@model ManageRegionModel


<div id="regionManagement">



    @{
        if (!String.IsNullOrEmpty(Model.RegionId))
        {

            string regionName = String.IsNullOrWhiteSpace(Model.RegionName) ? "[" + Model.RegionId + "]" : Model.RegionName + " [" + Model.RegionId + "]";

            <div class="alert alert-primary">Current region - <b>@regionName</b></div>

            if (String.IsNullOrEmpty(Model.DataSetName) || Model.DataItem == null)
            {
                <div class="alert alert-danger">Dataset is not loaded.Please load dataset to see the data associated with the region</div>
            }
            else
            {

                <div id="regionsToCompare">

                    @await Component.InvokeAsync(CompareRegionsPaneViewComponent.Name, new CopmareRegionsPaneModel(MapContext.FirstRegionId, MapContext.SecondRegionId, Model))

                </div>

                if (!String.IsNullOrWhiteSpace(Model.ReferencedMap))
                {

                    <div class="alert alert-primary">Current region has referenced map assigned - <a href="/Map/RenderMap?mapName=@Model.ReferencedMap" target="_blank">@Model.ReferencedMap</a></div>
                }

                <form id="addToCompare" asp-controller="Map" asp-action="AddRegionToCompare" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#regionsToCompare" method="post">

                    <input class="form-control" type="text" name="dataSetName" value="@Model.DataSetName" hidden />
                    <input class="form-control" type="text" name="mapName" value="@Model.MapName" hidden />
                    <input class="form-control" type="text" name="regionToCompare" value="@Model.RegionId" hidden />

                    <button class="btn btn-sm btn-primary" type="submit">Add to compare list</button>

                    <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Manage Properties
                    </a>

                </form>

                <div class="collapse" id="collapseExample">

                    <hr />

                    <div class="row">
                        <div class="col-6">
                            <form id="createNewPropertyForm" asp-controller="Map" asp-action="SaveProperty" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#regionManagement" method="post">

                                <h5>UPSERT property</h5>

                                <div class="form-group">

                                    <input class="form-control" type="text" name="propertyName" placeholder="Enter property name" />
                                    <input class="form-control" type="text" name="propertyValue" placeholder="Enter property value" />
                                    <input class="form-control" type="text" name="dataSetKey" value="@Model.DataSetName" hidden />
                                    <input class="form-control" type="text" name="mapName" value="@Model.MapName" hidden />
                                    <input class="form-control" type="text" name="regionId" value="@Model.RegionId" hidden />
                                </div>

                                <button class="btn btn-sm btn-primary" type="submit">Save</button>

                            </form>
                        </div>
                        <div class="col-6">
                            <form id="createNewStatisticForm" asp-controller="Map" asp-action="SaveStatistic" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#regionManagement" method="post">

                                <h5>UPSERT statistic</h5>

                                <div class="form-group">

                                    <input class="form-control" type="text" name="statisticName" />
                                    <input class="form-control" type="number" value="0" step="0.1" name="statisticValue" />
                                    <input class="form-control" type="text" name="dataSetKey" value="@Model.DataSetName" hidden />
                                    <input class="form-control" type="text" name="mapName" value="@Model.MapName" hidden />
                                    <input class="form-control" type="text" name="regionId" value="@Model.RegionId" hidden />
                                </div>
                                <button class="btn btn-sm btn-primary" type="submit">Save</button>

                            </form>
                        </div>
                    </div>

                    <p></p>

                    <div class="row">

                        <div class="col-6">

                            <form id="deletePropertyForm" asp-controller="Map" asp-action="ManageDataProperty" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#regionManagement" method="post">

                                <h5>MANAGE property</h5>

                                <div class="form-group">

                                    <select class="form-control" name="dataPropertyName">
                                        @{
                                            foreach (var property in Model.DataItem.Properties)
                                            {

                                                <option>@property.Name</option>
                                            }
                                        }
                                    </select>

                                    <input class="form-control" type="text" name="dataSetName" value="@Model.DataSetName" hidden />
                                    <input class="form-control" type="text" name="mapName" value="@Model.MapName" hidden />
                                    <input class="form-control" type="text" name="regionId" value="@Model.RegionId" hidden />
                                    <input class="form-control" name="ifStatistic" value="false" hidden />

                                </div>

                                <input style="margin-bottom:4px;" class="btn btn-sm btn-danger" type="submit" name="toDo" value="Delete" />
                                <input style="margin-bottom:4px;" class="btn btn-sm btn-danger" type="submit" name="toDo" value="Delete All" />
                                <input style="margin-bottom:4px;" class="btn btn-sm btn-primary" type="submit" name="toDo" value="Expand" />

                            </form>

                        </div>

                        <div class="col-6">
                            <form id="deletePropertyForm" asp-controller="Map" asp-action="ManageDataProperty" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#regionManagement" method="post">

                                <h5>MANAGE statistic</h5>

                                <div class="form-group">

                                    <select class="form-control" name="dataPropertyName">
                                        @{
                                            foreach (var statistic in Model.DataItem.Statistics)
                                            {

                                                <option>@statistic.Name</option>
                                            }
                                        }
                                    </select>

                                    <input class="form-control" type="text" name="dataSetName" value="@Model.DataSetName" hidden />
                                    <input class="form-control" type="text" name="mapName" value="@Model.MapName" hidden />
                                    <input class="form-control" type="text" name="regionId" value="@Model.RegionId" hidden />
                                    <input class="form-control" name="ifStatistic" value="true" hidden />

                                </div>

                                <input style="margin-bottom:4px;" class="btn btn-sm btn-danger" type="submit" name="toDo" value="Delete" />
                                <input style="margin-bottom:4px;" class="btn btn-sm btn-danger" type="submit" name="toDo" value="Delete All" />
                                <input style="margin-bottom:4px;" class="btn btn-sm btn-primary" type="submit" name="toDo" value="Expand" />

                            </form>
                        </div>

                    </div>

                    <p />

                    <form id="expanadPropertiesForm" asp-controller="Map" asp-action="ExpanadProperties" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#regionManagement" method="post">

                        <h5>EXPAND properties to all other regions</h5>

                        <div class="form-group">
                            <input class="form-control" type="text" name="dataSetName" value="@Model.DataSetName" hidden />
                            <input class="form-control" type="text" name="mapName" value="@Model.MapName" hidden />
                            <input class="form-control" type="text" name="regionId" value="@Model.RegionId" hidden />
                        </div>

                        <button class="btn btn-primary btn-sm" id="expanadPropertiesFormSubmit" type="submit">Expand</button>

                    </form>

                    <p></p>
                    <hr />

                    <div class="row">

                        <div class="col-12">
                            <form asp-controller="Map" asp-action="AddAttachment" method="post" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#regionManagement" enctype="multipart/form-data">

                                <h5>ATTACH file</h5>

                                <div class="form-group">

                                    <input class="form-control-file" type="file" name="attachmentFile" />
                                    <p></p>

                                    <input class="form-control" type="text" name="dataSetName" value="@Model.DataSetName" hidden />
                                    <input class="form-control" type="text" name="mapName" value="@Model.MapName" hidden />
                                    <input class="form-control" type="text" name="regionId" value="@Model.RegionId" hidden />

                                    <button class="btn btn-sm btn-primary" type="submit">Upload</button>
                                </div>

                            </form>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-12">
                            <form asp-controller="Map" asp-action="DeleteAttachment" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#regionManagement" method="post">

                                <h5>DELETE file</h5>

                                <div class="form-group">

                                    <select class="form-control" name="attachmentName">
                                        @{
                                            foreach (var statistic in Model.DataItem.Attachments)
                                            {

                                                <option>@statistic.Name</option>
                                            }
                                        }
                                    </select>

                                    <input class="form-control" type="text" name="dataSetName" value="@Model.DataSetName" hidden />
                                    <input class="form-control" type="text" name="mapName" value="@Model.MapName" hidden />
                                    <input class="form-control" type="text" name="regionId" value="@Model.RegionId" hidden />

                                </div>

                                <button class="btn btn-sm btn-danger" type="submit">Delete</button>

                            </form>
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-12">
                            <form asp-controller="Map" asp-action="AssignMap" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#regionManagement" method="post">

                                <h5>ASSIGN map to region</h5>

                                <div class="form-group">

                                    <select class="form-control" name="mapToAssignName">
                                        @{
                                            foreach (var map in Model.Maps)
                                            {

                                                <option>@map</option>
                                            }
                                        }
                                    </select>

                                    <input class="form-control" type="text" name="dataSetName" value="@Model.DataSetName" hidden />
                                    <input class="form-control" type="text" name="mapName" value="@Model.MapName" hidden />
                                    <input class="form-control" type="text" name="regionId" value="@Model.RegionId" hidden />

                                </div>

                                <button class="btn btn-sm btn-primary" type="submit">Assign</button>

                            </form>
                        </div>
                    </div>

                    <hr />

                </div>

                <p></p>


                @await Component.InvokeAsync(ManageRegionPropertiesViewComponent.Name, Model);

            }



        }
    }


</div>