@model MapProject.Web.Models.ManageRegionModel

<div id="regionPropertiesManagement">

    @{

        if (Model.DataItem != null)
        {

            <div id="propertiesManagement">

                @{

                    if (Model.DataItem != null)
                    {
                        <div id="regionProperties">

                            <h5>Properties:</h5>

                            @foreach (var property in Model.DataItem.Properties)
                            {
                                <p><div type="property" class="alert alert-info property" onclick="dataPropertyClick($(this), false)" name="@property.Name">@property.Name: @property.Value</div></p>

                            }

                        </div>

                        <div id="regionStatistics">

                            <h5>Statistics:</h5>

                            @foreach (var property in Model.DataItem.Statistics)
                            {

                                //public IActionResult DrawStatistic(string statisticName, string dataSetName, string mapName)
                                <p><div type="statistic" class="alert alert-info statistic" onclick="dataPropertyClick($(this), true)" name="@property.Name">@property.Name: @property.Value</div><a class="btn btn-sm btn-primary" href="/Map/DrawStatistic?statisticName=@property.Name&dataSetName=@Model.DataSetName&mapName=@Model.MapName" target="_blank">Draw statistic</a></p>
                            }

                        </div>

                        <div id="regionAttachments">

                            <h5>Attachments:</h5>

                            @foreach (var property in Model.DataItem.Attachments)
                            {
                                <p><a href="/Map/DownloadAttachment?regionId=@Model.RegionId&dataSetName=@Model.DataSetName&mapName=@Model.MapName&attachmentName=@property.Name">@property.Name</a></p>
                            }

                        </div>

                    }
                }




            </div>

        }
    }

</div>
