@model MapProject.Web.Models.ManageRegionModel

<div id="regionPropertiesManagement">

    @{

        if (Model.DataItem != null)
        {

            <div id="propertiesManagement">

                @{

                    if (Model.DataItem != null)
                    {
                        <div id="regionProperties">

                            <h5>Properties:</h5>

                            @foreach (var property in Model.DataItem.Properties)
                            {
                                <p><div type="property" class="alert alert-info property" onclick="dataPropertyClick($(this), false)" name="@property.Name">@property.Name: @property.Value</div></p>

                            }

                        </div>

                        <div id="regionStatistics">

                            <h5>Statistics:</h5>

                            @foreach (var property in Model.DataItem.Statistics)
                            {
                                //public IActionResult DrawStatistic(string statisticName, string dataSetName, string mapName)
                                <p><div type="statistic" class="alert alert-info statistic" onclick="dataPropertyClick($(this), true)" name="@property.Name">@property.Name: @property.Value</div></p>
                                <form id="addToCompare" asp-controller="Map" asp-action="DrawStatistic" method="post">

                                    <input type="color" name="color" />
                                    <input type="text" name="statisticName" value="@property.Name" hidden />
                                    <input type="text" name="dataSetName" value="@Model.DataSetName" hidden />
                                    <input type="text" name="mapName" value="@Model.MapName" hidden />

                                    <button type="submit" formtarget="_blank">Draw</button>

                                </form>
                            }

                        </div>

                        <div id="regionAttachments">

                            <h5>Attachments:</h5>

                            @foreach (var property in Model.DataItem.Attachments)
                            {
                                <p><a href="/Map/DownloadAttachment?regionId=@Model.RegionId&dataSetName=@Model.DataSetName&mapName=@Model.MapName&attachmentName=@property.Name">@property.Name</a></p>
                            }

                        </div>

                    }
                }




            </div>

        }
    }

</div>
